<div class="jumbotron">
  <h1>{{$features.title}}</h1>
  <p class="lead">
    <br>
    The best app in the world!
  </p>
  <p>
  <form class="form-inline" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search" ng-model="mainObjects.q">
    </div>
    <select class="form-control"
            ng-model="mainObjects.category"
            ng-options="category.name for category in searchCtrl.categories">
    </select>
    <button type="submit" class="btn btn-default" ng-click="searchCtrl.search()">Submit</button>
  </form>
</div>
